@model GymSolutions.Models.Ejercicio_Categoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ejercicio_Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.catNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.catNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ejercicio.ejNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ejercicio.ejNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_EJERCICIO_CATEGORIA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
