@model GymSolutions.Models.Rutina

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rutina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rutNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rutNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rutFechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rutFechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dias_por_semana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dias_por_semana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ejercicio_rutina1.repeticiones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ejercicio_rutina1.repeticiones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfil.perfilNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil.perfilNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_RUTINA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
