@model GymSolutions.Models.Ejercicio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ejercicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ejNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ejNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ejDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ejDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ejMedia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ejMedia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_EJERCICIO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
